.page {
  margin: 0 auto;
  padding: 45px 0 0;
  max-width: 880px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: white;
}

@media screen and (max-width: 980px) {
  .page {
    margin: 0 30px;
  }
}

@media screen and (max-width: 425px) {
  .page {
    margin: 0;
    padding: 28px 0 0;
  }
}