.profile {
  margin: 0;
  padding: 40px 0 50px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .profile {
    flex-direction: column;
  }
}