.element__like {
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  font: inherit;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.element__like:hover {
  opacity: 0.5;
}

.element__like:active {
  background-image: url(../../../images/like-active.svg);
  opacity: 1;
}